.titulo-sena{
    color: rgb(0, 173, 0);
    font-size: 30px;
    font-family: sans-serif;
    padding: 15px;
    font-weight: bold;
}
.inicio_sesion{
    background-color: rgb(237, 237, 237);
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    font-weight: bold;
}
.btn-iniciar-ses{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 10%;
}
.btn-iniciar{
    text-decoration: none;
    border-style: none;
    padding:9px;
    border-radius:15px;
    text-decoration: none;
    font-weight: bold;
    color:white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: rgb(0, 173, 0);
    width: 60%;
}
.btn-iniciar:hover{
    background: rgb(0, 153, 0);
}
.btn-iniciar:active{
    background: rgb(0, 193, 0);
}
.complete{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numid{
 padding: 10px;
 margin-left: 10%;
}
.cont{
padding: 10px;
}
.inpt-cc{
font-family: sans-serif;
background-color: rgb(200, 200, 200);
color: rgb(117, 117, 117);
border-radius: 10px;
padding: 5px;
border-style: none;
margin-left: 2%;
margin-top: 2%;
width: 75%;
}
.inpt-pass{
font-family: sans-serif;
background-color: rgb(200, 200, 200);
color: gray;
border-radius: 10px;
padding: 5px;
border-style: none;
margin-top: 2%;
width: 75%;
}