.inputs-registo-motor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; 
}
.fila-1{
    width: 32%;
  }
  .fila-2{
    width: 32%;
  }
.container-rg-caracteristicasM {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}
.rg-caracteristicasM {
  background-color: rgb(247, 247, 247);
  width: 50%;
  height: fit-content;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.26);
  z-index: 1;
  margin: 0px 0px 50px 0px;
}
.titulo-registro-CM {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
  user-select: none;
  margin-bottom: 3%;
}
.btn-mt {
    display: flex;
    margin-top: 5%;
    justify-content: center;
  }
  .btn-registrar {
    width: 20%;
    font-size: 15px;
    color: #ffff;
    background: rgb(0, 173, 0);
  }
  .btn-mt Button:hover {
    background: rgb(1, 133, 1);
  }
  .btn-mt Button:active {
    background: rgb(0, 173, 0);
  }
  @media (max-width: 950px) {
    .btn-registrar{
        width: 25%;
      }
  }
@media (max-width: 890px) {
    .inputs-registo-motor{
        flex-direction: column;
        align-items: center;
    }
    .fila-1{
        width: 80%;
      }
      .fila-2{
        width: 80%;
        margin-top: 32px;
      }
      .btn-mt {
        margin-top: 10%;
      }
      .btn-registrar{
        width: 25%;
      }
  }
@media (max-width: 750px) {
    .btn-registrar{
        width: 30%;
      }
  }
  @media (max-width: 500px) {
    .btn-registrar{
        width: 40%;
      }
  }
  @media (max-width: 420px) {
    .titulo-registro {
        font-size: 22px;
      }
    .btn-registrar{
        width: 40%;
      }
  }
