.inputs-registo-motor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.fila-1 {
  width: 32%;
}

.fila-2 {
  width: 32%;
}

.container-rg-caracteristicasM {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.container-rg-caracteristicasMotor {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.rg-caracteristicasM {
  background-color: rgb(247, 247, 247);
  width: 35%;
  height: fit-content;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

.titulo-registro-CM {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 3%;
}

.inp-registro-CM {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {

  .rg-caracteristicasM {
    width: 90%;
    height: fit-content;
  }

  .container-rg-caracteristicasMotor {
    align-items: flex-start;
  }

}

@media (max-width: 1080px) and (min-width: 768px){

  .rg-caracteristicasM {
    width: 60%;
    height: fit-content;
  }

}

@media (max-height: 500px) {
  .container-rg-caracteristicasMotor {
    align-items: flex-start;
  }
}

@media (max-width: 890px) {
  .inputs-registo-motor {
    flex-direction: column;
    align-items: center;
  }

  .fila-1 {
    width: 80%;
  }

  .fila-2 {
    width: 80%;
    margin-top: 32px;
  }

  .btn-mt {
    margin-top: 10%;
  }

  .btn-registrar {
    width: 25%;
  }
}

@media (max-width: 750px) {
  .btn-registrar {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .btn-registrar {
    width: 40%;
  }
}

@media (max-width: 420px) {
  .titulo-registro {
    font-size: 22px;
  }

  .btn-registrar {
    width: 40%;
  }
}