.containerHv{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 10px 0 20px 0;
}
.sectionHv{
    width: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.valueHv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.valueHv label{
    width: 50%;
    font-size: 17px;
}