.Registro-descripcion-hv {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.26);
    width: 90%;
    height: 1270px;
    margin: 30px;
  }
  .inputs-registro-hv {
    font-family: sans-serif;
    font-size: 12px;
    user-select: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .Primera-fila-input {
    flex-direction: column;
    margin-right: 6%;
    display: flex;
  }
  .segunda-fila-input {
    margin-right: 6%;
  }
  .tercera-fila-input {
    margin-right: 6%;
  }
  .label-hv {
    display: flex;
    font-size: 15px;
    margin-top: 18%;
    justify-content: flex-start;
  }
  .registro-hv-componente {
    display: flex;
    margin-top: 0%;
    justify-content: center;
  }
  .button-cancelar-hv Button {
    width: 200px;
    font-weight: bold;
    position: relative;
    right: 60px;
    background-color: rgb(247, 247, 247);
    border-radius: 11px;
    text-align: center;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
  }
  .button-cancelar-hv Button:hover {
    background-color: rgb(237, 237, 237);
  }
  .button-cancelar-hv Button:active {
    background-color: rgb(250, 250, 250);
  }
  .button-registrar-hv Button {
    background: rgb(0, 173, 0);
    border-radius: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 200px;
    height: 40px;
    width: 200px;
  }
  .button-registrar-hv Button:hover {
    background: rgb(0, 153, 0);
  }
  .button-registrar-hv Button:active {
    background: rgb(0, 193, 0);
  }
  .buttons-hv {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 6%;
  }

  .filterDE {
    background-color: #f1f1f1;
    border: 1px solid #ececec;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}