
/* Entrada almacen css */

.txtNuevaEntrada{
    background-color: #D9D9D9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nuevaEntradaAlmacen{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10vh;
    margin-top: 10vh;
}

.rowValuesNEA{
    display: flex;
    justify-content: space-evenly;
}

.valuesNEA{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.valuesNEA label {
    font-size: 18px;
}

.valuesNEA input{
    background-color: #D9D9D9;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 16px;
    width: 200px;
}

.valuesNEA select{
    background-color: #D9D9D9;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 16px;
    width: 200px;
}

.rowValuesNEA button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background-color: #34A853;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.rowValuesNEA button:hover{
    background-color: #30944B;
}