.formHojaInspeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.campoHI {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}