.modalIOT {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formIOT {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.formIOT label {
    width: 50%;
}
.botton-registrar-div Button{
    background-color: rgb(0, 173, 0);
}
.botton-registrar-div Button:hover{
    background-color: rgb(1, 133, 1);
}
.containerTIOT {
    width: 88%;
    margin: 20px auto;
}
.btn-registrarIOT {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5px auto 30px;
}
.button-cerrar-i Button:hover{
    background-color: rgb(196, 2, 2);
}
.btn-registrarMOT {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5px auto 30px;
}
.formInsumosIOT Input:focus{
    font-size: 16px;
}
.btn-registrarIOT button{
    color: white;
    background-color: rgb(0, 173, 0);
}
.btn-registrarIOT button:hover{
    background-color: rgb(1, 133, 1);
}
