.modalIOT {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formIOT {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.formIOT label {
    width: 50%;
}
.botton-registrar-div Button{
    background-color: rgb(0, 173, 0);
}
.containerTIOT {
    width: 88%;
    margin: 20px auto;
}
.btn-registrarIOT {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5px auto 30px;
}

.btn-registrarIOT Button {
    width: 15%;
}

.btn-registrarIOT button:hover{ 
    background-color: rgb(1, 133, 1)
}

.btn-registrarMOT {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 5px auto 30px;
}
.formInsumosIOT Input:focus{
    font-size: 16px;
}
.btn-registrarIOT button{
    color: white;
    background-color: rgb(0, 173, 0);
}

.select_insumosOT {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
}