

/* Aprendices css */

.BDAprendicesTabla{
    width: 100%;
}

.BDAprendicesTabla thead {
    background-color: #D9D9D9;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.BDAprendicesTabla tbody td {
    text-align: center;
    height: 40px;
    font-size: 18px;
}

.filtersUsuarios {
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.filterU {
    background-color: #f1f1f1;
    border: 1px solid #ececec;
    width: 25%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}

.filterU option {
    border-radius: 5px;
    padding: 5px;
}

.containerUsuarios {
    padding: 20px 50px;
}


