
/* Torno css*/

.slider {
    animation: banner 10s infinite linear alternate;
    background-size: contain;
    color: #fff;
    font-weight: 600;
    height: 75vh;
    width: 97%;
    margin: 10px auto;
    box-shadow: 10px 10px 35px -13px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.sombra {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}

.sombra h2 {
    font-size: 26px;
}

.sombra p {
    color: #cacaca;
    font-size: 13px;
    text-align: center;
}

.tornoT {
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.tornoT p {
    text-wrap: pretty;
}


@keyframes banner {

    0%,
    35% {
        background-image: url("../../img/maquinasFoto1.jpg");
    }

    40%,
    75% {
        background-image: url("https://hse.software/wp-content/uploads/2022/12/ejemplo-checklist-inspecciones-trabajo-oficina.webp");
    }

    80%,
    100% {
        background-image: url("../../img/maquinasFoto3.jpg");
    }
}