@tailwind base;
@tailwind components;
@tailwind utilities;

.registro-aprendiz-componente {
  display: flex;
  margin-top: 3%;
  justify-content: center;
}
.registrar-nuevo-aprendiz {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.26);
  width: 700px;
  height: 830px;
}
.titulo-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
  user-select: none;
  margin-bottom: 3%;
}

.max-w-xs::placeholder{
  font-size: 16px;
}
.inputs-registro-aprendiz Input::placeholder{
  font-size: 16px;
}
.inputs-registro-aprendiz Input:focus{
  font-size: 16px;
}
.inputs-registro-aprendiz {
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.h3-fila-1{
    display: flex;
    font-size: 15px;
    margin-top: 18%;
    justify-content: flex-start;
}
.h3-fila-2{
    display: flex;
    font-size: 15px;
  margin-top: 18%;
    justify-content: flex-start;
}
.inputs-primer-fila-registro-aprendiz {
  flex-direction: column;
  margin-right: 11%;
  display: flex;
}
.boton-registrar {
  background: rgb(0, 173, 0);
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 180px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.boton-registrar:hover {
  background: rgb(0, 153, 0);
}
.boton-registrar:active {
  background: rgb(0, 193, 0);
}
.btn-terminar-registro {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 7%;
}

.boton-cancelar-aprendices {
  font-weight: bold;
  background-color: rgb(247, 247, 247);
  width: 150px;
  border-radius: 11px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.boton-cancelar-aprendices:hover {
  background-color: rgb(237, 237, 237);
}
.boton-cancelar-aprendices:active {
  background-color: rgb(250, 250, 250);
}
button .boton-registrar {
  background-color: rgb(0, 173, 0);
}
