.img-semaforo img{
    width: 120px;
    height: 120px;
}

.ot-notificacion {
    position:absolute;
    top: 0;
    right: 0;
}

.scrollN {
    height: 55vh;
    overflow-y: scroll;
}

/* scrollN */

.scrollN::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollN::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 4px;
}

.scrollN::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scrollN::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
