body::-webkit-scrollbar {
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-outer-button{
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.tarjetas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;

}
.TFSA-tarjetas{
    display: flex;
    margin-bottom: -13.5%;

}
.EAI-tarjetas{
    display: flex;
}
.cnc-y-comp-tarjetas{
display: flex;
}

.tornos-tarjeta,
.sierra-tarjeta,
.esmeriles-tarjeta,
.fresadoras-tarjeta{
      cursor: pointer;
     width: 246px;
    height: 135px;
}
.parrafo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
    top: -90px;
}
.parrafo_almacen{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
    top: -170px;
}
.tornos-tarjeta{
    margin-right: 0.5%;
}

.cnc-tarjeta{
      width: 244.5px;
    height: 135px;
        margin-right: 0.5%;
            margin-top: -0.1%;  
}

.esmeriles-tarjeta{ 
    width: 247px;
    height: 135px;
        margin-right: 0.5%;
    }
.fresadoras-tarjeta{
        margin-right: 0.5%;
}

.sierra-tarjeta{
        margin-right: 0.5%;  
}

.aprendices-tarjeta,
.informes-tarjeta{
width: 381.5px;
    height: 135px;
    cursor: pointer;
}

.aprendices-tarjeta{
        margin-right: 0.5%;
}

.compresor-tarjeta{
    width: 495.5px;
    height: 135px;
     margin-bottom: 0.5%;
     margin-top: -0.1%;
     cursor: pointer;
}


.almacen-tarjeta{
    width: 261px;
    height: 275px;
    margin-bottom: 0.2%;
    cursor: pointer;

}

.img-cnc,
.img-torno,
.img-sierra,
.img-esmeril,
.img-almacen,
.img-informes,
.img-compresor,
.img-aprendices,
.img-fresadora{
     width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: -1;
}

.img-cnc:hover,
.img-torno:hover,
.img-sierra:hover,
.img-almacen:hover,
.img-esmeril:hover,
.img-informes:hover,
.img-compresor:hover,
.img-aprendices:hover,
.img-fresadora:hover{
    filter: blur(1px)  invert(5%);
}

.img-cnc:active,
.img-torno:active,
.img-sierra:active,
.img-almacen:active,
.img-esmeril:active,
.img-informes:active,
.img-compresor:active,
.img-aprendices:active,
.img-fresadora:active{
    filter: invert(10%);
}



.cuadros{
    position: absolute;
    top: -153px;
    left: 0;
    width: 90%;
    height: 120%;
    overflow: hidden;
    z-index: -1;
}

.cuadros li{
    position: absolute;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(0, 163, 0);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.cuadros li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.cuadros li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.cuadros li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.cuadros li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.cuadros li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.cuadros li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.cuadros li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.cuadros li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cuadros li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cuadros li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


/* iconos */

.IconsPrincipal {
    position: absolute;
    right: 5px;
    top: 15px;
}
.iconP {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconP img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.iconP img:hover {
    transform: scale(1.05);
}

.containerUserName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    position: absolute;
    right: 65px;
    top: 25px;
}

.nombreUser {
    font-weight: bold;
    font-size: 16px;
}

.rolUser {
    font-size: 14px;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}