@tailwind components;
@tailwind utilities;

body{
    user-select: none;
}
.Registro_instructor_componente{
    justify-content: center;
    display: flex;
	margin-top: 6%;
}
.Registro_instructor Input::placeholder{
    font-size: 16px;
}
.Registro_instructor Input:focus{
    font-size: 16px;
}
.Registro_instructor {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.26);
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  height: 680px;
  width: 480px
}
.btn-inst{
    background: rgb(0, 173, 0);
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius:12px;
    text-align: center;
    border-style: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 17%;
    color:white;
    display: flex;
    height: 40px;
    padding:9px;
    width: 150px;
}
.btn-inst:hover{
    background: rgb(0, 153, 0);
}
.btn-inst:active{
    background: rgb(0, 193, 0);
}
.div-botton{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.boton-cancelar-instructor{
    padding: 9px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    height: 30px;
    width: 150px;
    border-radius: 11px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    right: 0px;
    top: 61px;
    height: 40px;
    font-size: 16px;
  }
  
  .boton-cancelar-instructor:hover{
    background-color: rgb(237, 237, 237);
  }
  .boton-cancelar-instructor:active {
    background-color: rgb(250, 250, 250);
  }
.titulo-inst{
    color: rgb( 70, 70, 70);
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
	font-size: 24px;
    display: flex;
    margin: 30px;
}
.form_inst{
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    align-items: center;
}
